dash==2.8.1
keras==2.11.0
numpy==1.24.1
pandas==1.5.3
plotly==5.13.0
psycopg2==2.9.5
scikit_learn==1.2.2
tensorboard==2.11.2
tensorflow==2.11.0
tensorflow_macos==2.11.0
transformers==4.26.0
tweepy==4.12.1
