container_commands:
  01_make_packages_dir:
    command: "mkdir /opt/python/current/app/packages_new"

  02_copy_packages:
    command: "cp -R src/dash_app /opt/python/current/app/packages_new/ --exclude='*.pyc' --exclude='__pycache__'"

  03_install_packages:
    command: "pip install -r /opt/python/current/app/packages_new/requirements.txt"