container_commands:
  02_make_packages_dir:
    command: "mkdir -p /opt/python/app/current/packages"

  03_copy_packages:
    command: "rsync -av --exclude='*.pyc' --exclude='__pycache__' src/dash_app/ /opt/python/app/current/packages/ && rsync -av --exclude='*.pyc' --exclude='__pycache__' src/database_manager.py /opt/python/app/current/packages/"

  04_install_packages:
    command: "pip install -r /opt/python/app/current/packages/requirements.txt"

  05_start_gunicorn:
    command: "gunicorn myapp:app --bind=127.0.0.1:8080"